.content {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.champion-input {
  width: 50%;
}
.option {
  display: flex;
  gap: 0.5em;
}
.guesses-card {
  margin-top: 3em;
}
.placeholder {
  display: block;
  width: 25px;
  height: 25px;
  background-color: gray;
}
