<div class="content">
  <h1>Loldle Unlimited</h1>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Guess the champion, start out by typing your favourite champions name.</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="champion-input">
        <mat-label>State</mat-label>
        <input matInput class="input" [matAutocomplete]="auto" [formControl]="championInput" />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="guess($event.option.value)">
          <mat-option *ngFor="let champ of filteredChamps | async" [value]="champ.name">
            <div class="option">
              <img [src]="champ.portrait" height="25" loading="lazy" />
              <span>{{ champ.name }}</span>
              <small> {{ champ.title }}</small>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="guessedChampList.length" class="guesses-card" [class.correct]="gameWon">
    <mat-card-header><h2>Guesses:</h2></mat-card-header>
    <mat-card-content>
      <div *ngFor="let champ of guessedChampList" class="champion-stats">
        <div class="stat-item">
          <img [src]="champ.portrait" height="75" />
        </div>
        <div
          class="stat-item"
          [class.correct]="getYearFromString(champ.releaseDate) === getYearFromString(correctCampion!.releaseDate)"
          [class.higher]="getYearFromString(champ.releaseDate) < getYearFromString(correctCampion!.releaseDate)"
          [class.lower]="getYearFromString(champ.releaseDate) > getYearFromString(correctCampion!.releaseDate)">
          <div class="arrow"></div>
          <span>{{ getYearFromString(champ.releaseDate) }}</span>
        </div>
        <div class="stat-item" [class.correct]="champ.rangeType === correctCampion?.rangeType">
          <span>{{ champ.rangeType }}</span>
        </div>
        <div class="stat-item" [class.correct]="champ.resource === correctCampion?.resource">
          <span>{{ champ.resource }}</span>
        </div>
        <div
          class="stat-item"
          [class.partial]="
            getAmountEqualArrayElements(champ.roles, correctCampion!.roles) > 0 &&
            getAmountEqualArrayElements(champ.roles, correctCampion!.roles) !== correctCampion?.roles?.length
          "
          [class.correct]="getAmountEqualArrayElements(champ.roles, correctCampion!.roles) === correctCampion?.roles?.length">
          <span>{{ champ.roles.join(' ') }}</span>
        </div>

        <div
          class="stat-item"
          [class.partial]="
            getAmountEqualArrayElements(champ.lanes, correctCampion!.lanes) > 0 &&
            getAmountEqualArrayElements(champ.lanes, correctCampion!.lanes) !== correctCampion?.lanes?.length
          "
          [class.correct]="getAmountEqualArrayElements(champ.lanes, correctCampion!.lanes) === correctCampion?.lanes?.length">
          <span>{{ champ.lanes.join(' ') }}</span>
        </div>
        <div class="stat-item" [class.correct]="champ.region === correctCampion?.region">
          <span>{{ champ.region }}</span>
        </div>
        <div class="stat-item" [class.correct]="champ.species === correctCampion?.species">
          <span>{{ champ.species }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
